.sidebar {
	float: left;
	width: 200px;
	height: 870px;
	margin-right: 30px;
	background-color: #65a5fa;
	text-align: center;
	color: #fff;
}

.content {
	float: left;
}

.style-left {
	float: left;
	margin-right: 20px;
}

.clear-float {
	clear: both;
}

li {
	list-style-type: none;
}

.main-title {
	font-weight: 700;
	font-size: 16px;
	margin-right: 2px;
}